/* Smooth Theme Transition */

body,
.container,
.card,
input,
button,
a,
footer {
    transition: all 0.3s ease;
}

/* Dark Mode Button */

#darkModeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: auto;
    padding: 10px 15px;
    z-index: 1000;
    background: #0d1b2a;
    color: white;
    border-radius: 8px;
}

/* Dark Mode */

.dark-mode {
    background: #121212;
    color: #ffffff;
}

.dark-mode .container {
    background: #1e1e1e;
}

.dark-mode .card {
    background: #2a2a2a;
    color: white;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode li {
    color: white;
}

.dark-mode a {
    color: #4db8ff;
}

.dark-mode input {
    background: #333;
    color: white;
    border: 1px solid #555;
}

.dark-mode footer {
    background: #1a1a1a;
    color: white;
}

.dark-mode hr {
    border-color: #444;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-family:'Poppins',sans-serif;
}

.contact-form textarea{
    resize:vertical;
}

.contact-form button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.contact-info{
    margin-top:20px;
}
